<html>
	<head>
		<title>tittle</title>
	</head>
	<body>
		<h2>1111</h2>
		<ul>
			<li>additon:<%= 1+2%></li>
			<li><%= "cow"+"boy"%></li>
			<li><%= 1.hour.from_now%></li>
		</ul>
		<% 3.times do |count|-%>
		<%= count%>hello <br />
		<%end%>
		mery
		<br />
		Time.now  <%= Time.now%>
		<br />
		controller time.new  <%= @time%>
		<br />
		link  <a href="/say/goodbye">goodbye</a>
	</body>
</html>